.hero {
  padding-bottom: 20px;
  position: relative;
  z-index: 40;
  overflow: hidden;
  @media (min-width: 992px) {
    padding-bottom: 50px;
  }
  .container {
    .title {
      color: #008E4C;
      max-width: 790px;
      margin: 0px auto 30px;
      font-weight: 800;
      font-size: 45px;
      line-height: 53px;
      max-width: 350px;
      padding: 0 20px;
  
      strong {
        color: #07E17B;
      }

      @media (min-width: 992px) {
        font-size: 90px;
        line-height: 100px;
        max-width: none;
        margin: 100px auto 80px;
        padding: 0;
      }
    }

    .video-wrapper {
      position: relative !important;
      margin: 0 auto;
      width: 450px;
      overflow: hidden;
    }

    .image-featured {
      display: block;
      max-width: 100%;
      width: 100%;
      transform: scale(1.01);
      
      @media (min-width: 992px) {
        position: relative !important;
        width: 480px;
      }
    }

  }
}