.hero {
  padding-bottom: 20px;
  position: relative;
  z-index: 40;
  overflow: visible;
  @media (min-width: 992px) {
    padding-bottom: 50px;
  }
  .container {
    z-index: 30;
    position: relative;
    .title {
      color: #008e4c;
      max-width: 790px;
      margin: 0px auto 30px;
      font-weight: 800;
      font-size: 45px;
      line-height: 53px;
      max-width: 350px;
      padding: 0 20px;

      strong {
        color: #07e17b;
      }

      @media (min-width: 992px) {
        font-size: 90px;
        line-height: 100px;
        max-width: none;
        margin: 100px auto 80px;
        padding: 0;
      }
    }

    

    .video-wrapper {
      margin-top: 100px;
    }
  }
}

.blend {
  display: none;

  @media (min-width: 768px) {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: black;
    opacity: 1;
    z-index: 80;
    border-radius: 50%;
    mix-blend-mode: soft-light;
    will-change: transform;
    transition: transform 0.1s ease-out;
    pointer-events: none;
  }
}
