.hero {
  padding-bottom: 20px;
  position: relative;
  z-index: 40;
  overflow: visible;
  @media (min-width: 992px) {
    padding-bottom: 50px;
  }
  .container {
    z-index: 30;
    position: relative;
    .title {
      color: #008e4c;
      max-width: 790px;
      margin: 0px auto 30px;
      font-weight: 800;
      font-size: 45px;
      line-height: 53px;
      max-width: 350px;
      padding: 0 20px;

      strong {
        color: #07e17b;
      }

      @media (min-width: 992px) {
        font-size: 90px;
        line-height: 100px;
        max-width: none;
        margin: 100px auto 80px;
        padding: 0;
      }
    }

    .video-wrapper {
      position: relative !important;
      display: flex;
      justify-content: center;
      width: 350px;
      max-width: 60%;
      margin: 120px auto 0 auto;
    }

    .phone {
      overflow: hidden;
      width: 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      padding: 2vw;
      background-color: white;
      border-radius: 6vw;

      @media (min-width: 992px) {
        border-radius: 50px;
        padding: 12px;
      }
    }

    .screen {
      width: 100%;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-overflow-scrolling: touch;
      -moz-backface-visibility: hidden;
      -webkit-border-radius: 5vw;
      -moz-border-radius: 5vw;
      -khtml-border-radius: 5vw;
      border-radius: 5vw;
      @media (min-width: 992px) {
        border-radius: 38px;
      }
    }

    .image-featured {
      display: block;
      max-width: 100%;
      transform: scale(1.01);
      -webkit-border-radius: 6vw;

      @media (min-width: 992px) {
        position: relative !important;
        border-radius: 0;
      }
    }
  }
}

.blend {
  display: none;

  @media (min-width: 768px) {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: black;
    opacity: 1;
    z-index: 80;
    border-radius: 50%;
    mix-blend-mode: soft-light;
    will-change: transform;
    transition: transform 0.1s ease-out;
    pointer-events: none;
  }
}
