.header {
  position: sticky;
  top: 0;
  margin: 40px 0;
  padding: 10px 0px;
  background-color: white;
  z-index: 10;
  
  > .container {
    display: flex;
    align-items: center;
    padding: 0 10%;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 1280px) {
      padding: 0;
    }
  }

  .hamburguer {
    
    @media (min-width: 1280px) {
      display: none;
    }
  }

  .nav {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    display: none;

    @media (min-width: 1280px) {
      position: relative;
      display: block;
    }

    .list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;

      .item {
        margin: 0 20px;

        a {
          text-decoration: none;
          font-weight: 500;
          color: #A2A2A2;
        }
      }
    }
  }

  .logo {
    display: inline-block;
    width: 100px;
    margin: 0;

    @media (min-width: 1280px) {
      width: 150px;
    }
  }
}
