.header {
  > .container {
    display: flex;
    align-items: center;
  }

  .nav {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;

    @media (min-width: 1280px) {
      position: relative;
      opacity: 1;
    }

    .list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;

      .item {
        margin: 0 20px;

        a {
          text-decoration: none;
          font-weight: 500;
          color: #A2A2A2;
        }
      }
    }
  }

  .logo {
    display: inline-block;
    width: 100px;
    margin: 0;

    @media (min-width: 1280px) {
      width: 200px;
    }
  }
}
