.footer {
  background-color: #1a1a1a;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      max-width: 80%;
      color: white;
      margin-bottom: 50px;

      @media (min-width: 992px) {
        margin-bottom: 100px;
      }
    }

    .button {
      margin: 0 auto;
      background-color: #07e17b;
      color: black;
      position: relative !important;
      display: flex !important;

      .icon {
        border-color: black;
        display: flex;
      }
    }
  }
}
