.explanation {
  .container {
    display: flex;
    flex-wrap: wrap;
    .title {
      margin: 50px 0px;

      @media (min-width: 1280px) {
        margin: 200px 0;
      }
    }
  }

  .holder {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 1280px) {
      flex-direction: row;
      width: 50%;
      padding: 0px 60px;
    }
  }
}
